@page "/aa"

<PageTitle>Order Confirmation</PageTitle>

<head>
    <style>
        .btn {
            border-radius: 2em;
        }

        .btn-primary {
            border: none;
            background-color: black;
        }

            .btn-primary:hover {
                background-color: dimgray;
            }

        .myEditBtn{
            background-color:white;
        }
        .myEditBtn:hover {
            background-color: lightgray;
        }

        .card {
            border: none;
            border-radius: 2em;
            box-shadow: 0 0 125px #bfbfbf;
        }

        .card-column {
            display: flex;
            justify-content: center;
            height:fit-content;
        }

        .modal-content {
            border-radius: 2em;
            border: none;
            box-shadow: 0 0 150px #454444;
            margin-top:3em;
        }

        /* Custom style for MudBlazor Components */
        .custom-mudtextfield .mud-input {
            --mud-palette-primary: #000000;
        }

        .custom-mudtextfield {
            --mud-palette-primary: #000000;
        }

        .custom-mudtextfield {
            --mud-default-borderradius: 2em;
        }


    </style>
</head>

<h3 class="fw-bold text-center text-black m-5">Please confirm your order</h3>


@* 3-column layout *@

    <div class="row align-content-center">

@* Restaurant Information Card *@
        <div class="col-lg-3 card-column mb-6">
            <div class="card col-12 fs-5">
                <img src="https://download.logo.wine/logo/KFC/KFC-Logo.wine.png" class="card-img-top" alt="Crispy Comte Cheesburger">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="m-3">
                        <p class="fw-bold text-start">Restaurant Information</p>
                        <ul class="d-flex justify-content-between align-items-center">
                            <li>Name : </li>
                            <li>KFC</li>
                        </ul>
                        <ul class="d-flex justify-content-between align-items-center">
                            <li>Address : </li>
                            <li>No. 20, Kandy Road Kandy</li>
                        </ul>
                        <ul class="d-flex justify-content-between align-items-center">
                            <li>Contact Number : </li>
                            <li>0812227878</li>
                        </ul>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

@* Order Information Card *@
    <div class=" col-lg-6 card-column mb-6">
            <div class="card col-sm-12 col-md-12 col-lg-8 fs-5">
                <ul class="list-group list-group-flush">
            <li class="list-group-item m-3">
                <p class="fw-bold text-center fs-4">Crispy Comte Cheesburger</p>
                <br />
                <ul class="d-flex justify-content-between align-items-center">
                    <li>Quantity : </li>
                    <li>3</li>
                </ul>
                <ul class="d-flex justify-content-between align-items-center">
                    <li>Additions : </li>
                    <li>None</li>
                </ul>
            </li>
            <li class="list-group-item  m-3">
                <p class="fw-bold text-start">Discounts & Promotions</p>
                <ul class="d-flex justify-content-between align-items-center">
                    <li>Discounts : </li>
                    <li>None</li>
                </ul>
                <ul class="d-flex justify-content-between align-items-center">
                    <li>Promotions : </li>
                    <li>None</li>
                </ul>
            </li>
                <li class="list-group-item  m-3">
                    <ul class="d-flex justify-content-between align-items-center mb-3">
                        <p class="fw-bold text-start">Notes</p>
                        <ul class="d-flex justify-content-between align-items-center">
                            <li></li>
                            <button type="button" class="btn btn-primary myEditBtn" data-bs-toggle="modal" data-bs-target="#UpdateNoteForm"><MudIcon Icon="@Icons.Material.Filled.Edit" Color="@Color.Dark" /></button>
                        </ul>
                    </ul>
                    <p><i>Please note, I have a peanut allergy. Make sure no peanuts or peanut oil are used.</i></p>
                </li>
            <li class="list-group-item  m-3">
                <p class="fw-bold text-start">
                    Order total
                </p>
                <ul class="d-flex justify-content-between align-items-center">
                    <li>Subtotal : </li>
                    <li>1500.00 LKR</li>
                </ul>
                <ul class="d-flex justify-content-between align-items-center">
                    <li>Taxes & Other Fees : </li>
                    <li>120.00 LKR</li>
                </ul>
                <ul class="d-flex justify-content-between align-items-center fw-bold">
                    <li>Total : </li>
                    <li>1620.00 LKR</li>
                </ul>
            </li>
            <li class="list-group-item  m-3 text-center">
                <button type="submit" class="btn btn-primary col-7 fs-5 " id="ConfirmOrder">Confirm Order</button>
                <br />
                <br />
                <button type="button" class="btn btn-outline-secondary col-4 fs-6 " id="CancelButton">Cancel</button>
            </li>
        </ul>
    </div>
</div>

@* User & Payment Information Card *@
    <div class=" col-lg-3 card-column mb-6">
            <div class="card col-12 fs-5">
                <ul class="list-group list-group-flush">
            <li class="list-group-item m-3">
                <ul class="d-flex justify-content-between align-items-center mb-3">
                    <p class="fw-bold text-start">Contact Information</p>
                    <ul class="d-flex justify-content-between align-items-center">
                        <li></li>
                            <button type="button" class="btn btn-primary myEditBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><MudIcon Icon="@Icons.Material.Filled.Edit" Color="@Color.Dark" /></button>
                    </ul>
                </ul>
                <ul class="d-flex justify-content-between align-items-center">
                    <li>Name : </li>
                    <li>Saviska</li>
                </ul>
                <ul class="d-flex justify-content-between align-items-center">
                    <li>Contact Number : </li>
                    <li>0755658770</li>
                </ul>
                <ul class="d-flex justify-content-between align-items-center mb-5">
                    <li>Address : </li>
                    <li>No. 12, Kandy Road, Kandy</li>
                </ul>
            </li>
                <li class="list-group-item m-3">
                    @* No payment info part *@
                    <ul class="d-flex justify-content-between align-items-center mb-6">
                        <li> <b>No Payment Information</b> </li>
                        <li>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg fs-5" data-bs-toggle="modal" data-bs-target="#AddPaymentInfoForm">Add</button>
                        </li>
                    </ul>
                </li>
            <li class="list-group-item m-3">
                <ul class="d-flex justify-content-between align-items-center mb-3">
                    <p class="fw-bold text-start">Payment Information</p>
                    <ul class="d-flex justify-content-between align-items-center">
                        <li></li>
                            <button type="button" class="btn btn-primary myEditBtn" data-bs-toggle="modal" data-bs-target="#UpdatePaymentInfoForm"><MudIcon Icon="@Icons.Material.Filled.Edit" Color="@Color.Dark" /></button>
                        </ul>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                    <img src="https://cdn-icons-png.flaticon.com/256/5968/5968299.png" class="fab fa-4x text-body pe-3" width="75px">
                    <p class="d-flex flex-column">
                        <b>Saviska Jayawickrama</b><span class="small text-muted">9898 **** **** 8880</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>

@* Edit User Info Modal *@
<div class="modal fade  modal-dialog-scrollable" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body Myform">
                @* Update Account Form *@
                <div class=" justify-content-center align-items-center">
                    <form class="didact-gothic-regular text-center">
                        <div class="col">
                            <span class="col-12 col-md-9 text-black fs-3">Update your <span class="text-warning fw-bold">Food</span> <span class="fw-bold">Store</span> account personal details.</span>
                            <br />
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="Name" Label="Name" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="PhoneNumber" Label="Phone Number" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="Address" Label="Address" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                        </div>
                        <button type="button" class="btn btn-primary col-6">Update</button>
                        <br />
                        <br />
                        <button type="button" class="btn btn-outline-secondary col-3" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@* Add payment info Modal *@
<div class="modal modal-lg fade modal-dialog-scrollable" id="AddPaymentInfoForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body Myform">
                @* Add payment info Form *@
                <div class="m-2 justify-content-center align-items-center">
                    <form class="didact-gothic-regular text-center">
                        <div class="col">
                            <span class="text-warning fw-bold fs-5">Food</span> <span class="fw-bold fs-5">Store</span>
                            <br />
                            <span class="col-12 col-md-9 text-black fs-3">Add payment information.</span>
                            <br />
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="CardNumber" Label="Account Number" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="CardHolderName" Label="Card Holder Name" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudNumericField HideSpinButtons="true" @bind-Value="ExpirationMonth" Label="Expiration Month" Variant="Variant.Outlined" Class="custom-mudtextfield" />
                                </MudItem>
                                <MudItem xs="6">
                                    <MudNumericField HideSpinButtons="true" @bind-Value="ExpirationYear" Label="Expiration Year" Variant="Variant.Outlined" Class="custom-mudtextfield" />
                                </MudItem>
                            </MudGrid>
                            <br />
                            <div class="col-4 fs-5 ">
                                <MudNumericField HideSpinButtons="true" @bind-Value="CVV" Label="CVV" Variant="Variant.Outlined" Class="custom-mudtextfield" />
                            </div>
                            <br />
                        </div>
                        <button type="button" class="btn btn-primary col-5">Save</button>
                        <br />
                        <br />
                        <button type="button" class="btn btn-outline-secondary col-3" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@* Update payment info Modal *@
<div class="modal modal-lg fade modal-dialog-scrollable" id="UpdatePaymentInfoForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body Myform">
                @* Update payment info Form *@
                <div class="m-2 justify-content-center align-items-center">
                    <form class="didact-gothic-regular text-center">
                        <div class="col">
                            <span class="text-warning fw-bold fs-5">Food</span> <span class="fw-bold fs-5">Store</span>
                            <br />
                            <span class="col-12 col-md-9 text-black fs-3">Update payment information.</span>
                            <br />
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="CardNumber" Label="Account Number" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="CardHolderName" Label="Card Holder Name" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudNumericField HideSpinButtons="true" @bind-Value="ExpirationMonth" Label="Expiration Month" Variant="Variant.Outlined" Class="custom-mudtextfield" />
                                </MudItem>
                                <MudItem xs="6">
                                    <MudNumericField HideSpinButtons="true" @bind-Value="ExpirationYear" Label="Expiration Year" Variant="Variant.Outlined" Class="custom-mudtextfield" />
                                </MudItem>
                            </MudGrid>
                            <br />
                            <div class="col-4 fs-5 ">
                                <MudNumericField HideSpinButtons="true" @bind-Value="CVV" Label="CVV" Variant="Variant.Outlined" Class="custom-mudtextfield" />
                            </div>
                            <br />
                        </div>
                    </form>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary col-5">Save</button>
                        <br />
                        <br />
                        <button type="button" class="btn btn-outline-secondary col-3" data-bs-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@* Update note Modal *@
<div class="modal modal-lg fade modal-dialog-scrollable" id="UpdateNoteForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body Myform">
                @* Update payment info Form *@
                <div class="m-2 justify-content-center align-items-center">
                    <form class="didact-gothic-regular text-center">
                        <div class="col">
                            <span class="text-warning fw-bold fs-5">Food</span> <span class="fw-bold fs-5">Store</span>
                            <br />
                            <span class="col-12 col-md-9 text-black fs-3">Update your note.</span>
                            <br />
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="MyNote" Label="Update Your Note" Lines="5" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            </div>
                    </form>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary col-5">Update</button>
                        <br />
                        <br />
                        <button type="button" class="btn btn-outline-secondary col-3" data-bs-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@code {
    public string? Name { get; set; } = "Saviska";
    public string? EmailAddress { get; set; } = "Saviska@ASNIT.LK";
    public string? PhoneNumber { get; set; } = "0755658770";
    public string? Address { get; set; } = "No.12, Kandy Road, Kandy";


    public string? MyNote { get; set; } = "Please note, I have a peanut allergy. Make sure no peanuts or peanut oil are used.";


    public Int128? CardNumber { get; set; } = 1111222233334444;
    public string? CardHolderName { get; set; } = "Saviska Jayawickrama";
    public int? ExpirationMonth { get; set; } = 05;
    public int? ExpirationYear { get; set; } = 2028;
    public int? CVV { get; set; } = 234;

}


