@page "/"
@rendermode InteractiveServer
@using ASNFoodPickupProject.Models

<head>
    <style>
        .ProfileSection {
            margin-top: 3em;
        }

        .btn {
            border-radius: 2em;
        }

        .btn-primary {
            border: none;
            background-color: black;
        }

            .btn-primary:hover {
                background-color: dimgray;
            }

        .ProfileCard, MudTabs {
            border: 3px solid lightgray;
            border-radius: 2em;
            padding: 1em;
        }

        .centered-tabs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .centered-tabs .mud-tab-panel {
                display: flex;
                justify-content: center;
                align-items: center;
            }

        .mud-ripple {
            background-color: darkgrey;
            border-radius: 2em;
            color: white;
        }

            .mud-ripple:hover {
                background-color: darkgrey;
            }

        .mud-tab-slider-horizontal {
            visibility: hidden;
        }

        .mud-tab-active {
            background-color: black;
        }

            .mud-tab-active:hover {
                background-color: black;
            }

        .mud-tab.mud-tab-active {
            background-color: black;
            color: white;
            border: 3px solid gray;
        }

            .mud-tab.mud-tab-active:hover {
                background-color: black;
                color: white;
            }

        .mud-tab:hover {
            background-color: #c4c1c0;
        }

        .mud-tab:active {
            background-color: black;
        }

        .mud-table-root .mud-table-head .mud-table-cell {
            color: rgb(0 0 0);
            font-weight: 900;
            line-height: 1.5rem;
        }

        .mud-expand-panel-header {
            background-color: black;
            color: white;
            margin: 1em;
            border-radius: 2em;
        }

        .Mytext {
            font-family: "Didact Gothic", sans-serif;
        }

        .modal-content {
            border-radius: 2em;
            border: none;
            box-shadow: 0 0 150px #454444;
            margin-top: 3em;
        }

        /* Custom style for MudBlazor Components */
        .custom-mudtextfield .mud-input {
            --mud-palette-primary: #000000;
        }

        .custom-mudtextfield {
            --mud-palette-primary: #000000;
        }

        .custom-mudtextfield {
            --mud-default-borderradius: 2em;
        }

    </style>
</head>
<br />
<br />
<h3 class="fw-bold text-center">Your Personal Information</h3>
<section class="ProfileSection fs-5">
    <div class="col">
        <div class="d-flex justify-content-center">
            <div class="col-lg-6 col-md-6 UserInfo">
                <div class="ProfileCard mb-4 text-center">
                    <div class="card-body">
                        <img src="https://png.pngtree.com/png-vector/20220817/ourmid/pngtree-man-avatar-with-circle-frame-vector-ilustration-png-image_6110328.png" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3 fw-bold">Saviska Jayawickrama</h5>
                        <div class="mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mb-4">
                                        <MudIcon Icon="@Icons.Material.Filled.Email" /><p class="text-muted mb-0">Saviska@ASNIT.lk</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-4">
                                        <MudIcon Icon="@Icons.Material.Filled.LocalPhone" /><p class="text-muted mb-0">0755658770</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-4">
                                        <MudIcon Icon="@Icons.Material.Filled.LocationOn" /><p class="text-muted mb-0">No. 12, Kandy Road, Kandy</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary col-5 fs-5 " id="UpdateUserInfoButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <h3 class="fw-bold text-center">Your Payment Information</h3>

        @* No payment info part *@
        <section>
            <div class=" py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-8 col-xl-6">
                        <div class="ProfileCard ">
                            <div class="card-body mx-1 my-2">
                                <ul class="d-flex justify-content-between align-items-center">
                                    <li>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <img src="https://help.trademe.co.nz/hc/article_attachments/13758305207705" class="fab fa-4x text-body pe-3" width="100px">
                                            </div>
                                            <div>
                                                <p class="d-flex flex-column mb-3">
                                                    <b>No Any Payment Information Yet...</b>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg fs-5" data-bs-toggle="modal" data-bs-target="#AddPaymentInfoForm">Add</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @* Available payment info *@
        <section>
            <div class=" py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-8 col-xl-6">
                        <div class="ProfileCard ">
                            <div class="card-body mx-1 my-2">
                                <ul class="d-flex justify-content-between align-items-center">
                                    <li>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <img src="https://cdn-icons-png.flaticon.com/256/5968/5968299.png" class="fab fa-4x text-body pe-3" width="100px">
                                            </div>
                                            <div>
                                                <p class="d-flex flex-column mb-3">
                                                    <b>Saviska Jayawickrama</b><span class="small text-muted">9898 **** **** 8880</span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex justify-content-end align-items-center pb-1">
                                            <button type="button" class="btn fs-5 m-2" id="ViewPaymentInfoButton" data-bs-toggle="modal" data-bs-target="#ViewPaymentInfoForm"><MudIcon Icon="@Icons.Material.Filled.RemoveRedEye"></MudIcon></button>
                                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg fs-5" data-bs-toggle="modal" data-bs-target="#UpdatePaymentInfoForm">Update</button>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>
<br />
<br />
<h3 class="fw-bold text-center">Your History</h3>
<br />


<MudGrid>
    <MudItem xs="6">
        @* Transaction History Expansion Panel*@
        <MudExpansionPanel>
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Payments" class="mr-3"></MudIcon>
                    <MudText Class=" fs-5 Mytext">Transaction History</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                @* Transaction History Table*@
                <MudTable Items="@Transactions.Take(5)" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info" Class="text-center">
                    <HeaderContent>
                        <MudTh>Transaction ID</MudTh>
                        <MudTh>Transaction Date</MudTh>
                        <MudTh>Food Item</MudTh>
                        <MudTh>Amount</MudTh>
                        <MudTh>Restaurant</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Transaction ID">@context.TransactionId</MudTd>
                        <MudTd DataLabel="Transaction Date">@context.TransactionDate.ToString("yyyy-MM-dd HH:mm")</MudTd>
                        <MudTd DataLabel="Payment Method">@context.FoodItem</MudTd>
                        <MudTd DataLabel="Amount">@context.Amount.ToString("C")</MudTd>
                        <MudTd DataLabel="Restaurant">@context.RestaurantName</MudTd>
                    </RowTemplate>
                </MudTable>
                <div class="text-center">
                    <button type="button" class="btn btn-primary col-5 m-3" data-bs-toggle="modal" data-bs-target="#ViewFullTransactionHistory">View Full Transaction History</button>
                </div>
            </ChildContent>
        </MudExpansionPanel>
    </MudItem>
    <MudItem xs="6">
        @* Order History Expansion Panel*@
        <MudExpansionPanel>
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Fastfood" class="mr-3"></MudIcon>
                    <MudText Class=" fs-5 Mytext">Order History</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                @* Order History Table*@
                <MudTable Items="@Orders.Take(5)" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info" Class="text-center">
                    <HeaderContent>
                        <MudTh>Order ID</MudTh>
                        <MudTh>Transaction ID</MudTh>
                        <MudTh>Order Date </MudTh>
                        <MudTh>Food Item </MudTh>
                        <MudTh>Restaurant</MudTh>
                        <MudTh>Quantity  </MudTh>
                        <MudTh>Amount </MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Order ID">@context.OrderId</MudTd>
                        <MudTd DataLabel="Order ID">@context.TransactionId</MudTd>
                        <MudTd DataLabel="Order Date">@context.OrderDate.ToString("yyyy-MM-dd HH:mm")</MudTd>
                        <MudTd DataLabel="Food Item">@context.FoodItem</MudTd>
                        <MudTd DataLabel="Restaurant">@context.RestaurantName</MudTd>
                        <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
                        <MudTd DataLabel="Amount">@context.Amount</MudTd>
                    </RowTemplate>
                </MudTable>
                <div class="text-center">
                    <button type="button" class="btn btn-primary col-5 m-3" data-bs-toggle="modal" data-bs-target="#ViewFullOrderHistory">View Full Order History</button>
                </div>
            </ChildContent>
        </MudExpansionPanel>
    </MudItem>
</MudGrid>




@* Edit User Info Modal *@
<div class="modal fade  modal-dialog-scrollable" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body Myform">
                @* Update Account Form *@
                <div class=" justify-content-center align-items-center">
                    <form class="didact-gothic-regular text-center">
                        <div class="col">
                            <span class="text-warning fw-bold fs-5">Food</span> <span class="fw-bold fs-5">Store</span>
                            <br />
                            <span class="col-12 col-md-9 text-black fs-3">Update your personal details.</span>
                            <br />
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="Name" Label="Name" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="EmailAddress" Label="Email Address" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="PhoneNumber" Label="Phone Number" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="Address" Label="Address" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                        </div>
                        <button type="button" class="btn btn-primary col-6">Update</button>
                        <br />
                        <br />
                        <button type="button" class="btn btn-outline-secondary col-3" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@* Add payment info Modal *@
<div class="modal modal-lg fade modal-dialog-scrollable" id="AddPaymentInfoForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body Myform">
                @* Add payment info Form *@
                <div class="m-2 justify-content-center align-items-center">
                    <form class="didact-gothic-regular text-center">
                        <div class="col">
                            <span class="text-warning fw-bold fs-5">Food</span> <span class="fw-bold fs-5">Store</span>
                            <br />
                            <span class="col-12 col-md-9 text-black fs-3">Add payment information.</span>
                            <br />
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="CardNumber" Label="Account Number" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="CardHolderName" Label="Card Holder Name" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudNumericField HideSpinButtons="true" @bind-Value="ExpirationMonth" Label="Expiration Month" Variant="Variant.Outlined" Class="custom-mudtextfield" />
                                </MudItem>
                                <MudItem xs="6">
                                    <MudNumericField HideSpinButtons="true" @bind-Value="ExpirationYear" Label="Expiration Year" Variant="Variant.Outlined" Class="custom-mudtextfield" />
                                </MudItem>
                            </MudGrid>
                            <br />
                            <div class="col-4 fs-5 ">
                                <MudNumericField HideSpinButtons="true" @bind-Value="CVV" Label="CVV" Variant="Variant.Outlined" Class="custom-mudtextfield" />
                            </div>
                            <br />
                        </div>
                        <button type="button" class="btn btn-primary col-5">Save</button>
                        <br />
                        <br />
                        <button type="button" class="btn btn-outline-secondary col-3" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@* Update payment info Modal *@
<div class="modal modal-lg fade modal-dialog-scrollable" id="UpdatePaymentInfoForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body Myform">
                @* Update payment info Form *@
                <div class="m-2 justify-content-center align-items-center">
                    <form class="didact-gothic-regular text-center">
                        <div class="col">
                            <span class="text-warning fw-bold fs-5">Food</span> <span class="fw-bold fs-5">Store</span>
                            <br />
                            <span class="col-12 col-md-9 text-black fs-3">Update payment information.</span>
                            <br />
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="CardNumber" Label="Account Number" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="CardHolderName" Label="Card Holder Name" Variant="Variant.Outlined" Class="custom-mudtextfield"></MudTextField>
                            </div>
                            <br />
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudNumericField HideSpinButtons="true" @bind-Value="ExpirationMonth" Label="Expiration Month" Variant="Variant.Outlined" Class="custom-mudtextfield" />
                                </MudItem>
                                <MudItem xs="6">
                                    <MudNumericField HideSpinButtons="true" @bind-Value="ExpirationYear" Label="Expiration Year" Variant="Variant.Outlined" Class="custom-mudtextfield" />
                                </MudItem>
                            </MudGrid>
                            <br />
                            <div class="col-4 fs-5 ">
                                <MudNumericField HideSpinButtons="true" @bind-Value="CVV" Label="CVV" Variant="Variant.Outlined" Class="custom-mudtextfield" />
                            </div>
                            <br />
                        </div>
                    </form>
                    <div class="text-center">
                                                <button type="button" class="btn btn-primary col-5">Save</button>
                        <br />
                        <br />
                    <button type="button" class="btn btn-outline-secondary col-3" data-bs-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@* View payment info Modal *@
<div class="modal modal-lg fade modal-dialog-scrollable" id="ViewPaymentInfoForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body Myform">
                @* View payment info Form *@
                <div class="m-2 justify-content-center align-items-center">
                    <form class="didact-gothic-regular text-center">
                        <div class="col">
                            <span class="text-warning fw-bold fs-5">Food</span> <span class="fw-bold fs-5">Store</span>
                            <br />
                            <span class="col-12 col-md-9 text-black fs-3">View payment information.</span>
                            <br />
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="CardNumber" Label="Account Number" Variant="Variant.Outlined" Class="custom-mudtextfield" Disabled="true"></MudTextField>
                            </div>
                            <br />
                            <div class="col-12 fs-5 ">
                                <MudTextField @bind-Value="CardHolderName" Label="Card Holder Name" Variant="Variant.Outlined" Class="custom-mudtextfield" Disabled="true"></MudTextField>
                            </div>
                            <br />
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudNumericField HideSpinButtons="true" @bind-Value="ExpirationMonth" Label="Expiration Month" Variant="Variant.Outlined" Class="custom-mudtextfield" Disabled="true" />
                                </MudItem>
                                <MudItem xs="6">
                                    <MudNumericField HideSpinButtons="true" @bind-Value="ExpirationYear" Label="Expiration Year" Variant="Variant.Outlined" Class="custom-mudtextfield" Disabled="true" />
                                </MudItem>
                            </MudGrid>
                            <br />
                            <div class="col-4 fs-5 ">
                                <MudNumericField HideSpinButtons="true" @bind-Value="CVV" Label="CVV" Variant="Variant.Outlined" Class="custom-mudtextfield" Disabled="true" />
                            </div>
                            <br />
                        </div>
                        <br />
                        <button type="button" class="btn btn-primary col-3" data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@* View Full Order History  Modal *@
<div class="modal modal-lg fade modal-dialog-scrollable" id="ViewFullOrderHistory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body Myform text-center">
                <span class="text-warning fw-bold fs-5 text-center">Food</span> <span class="fw-bold fs-5 text-center">Store</span>
                <br />
                <span class="col-12 col-md-9 text-black fs-3 text-center">Your Full Order History.</span>
                @* Order History Table*@
                <MudTable Items="@Orders.Take(25)" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info" Class="text-center">
                    <HeaderContent>
                        <MudTh>Order ID</MudTh>
                        <MudTh>Transaction ID</MudTh>
                        <MudTh>Order Date </MudTh>
                        <MudTh>Food Item </MudTh>
                        <MudTh>Restaurant</MudTh>
                        <MudTh>Quantity  </MudTh>
                        <MudTh>Amount </MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Order ID">@context.OrderId</MudTd>
                        <MudTd DataLabel="Order ID">@context.TransactionId</MudTd>
                        <MudTd DataLabel="Order Date">@context.OrderDate.ToString("yyyy-MM-dd HH:mm")</MudTd>
                        <MudTd DataLabel="Food Item">@context.FoodItem</MudTd>
                        <MudTd DataLabel="Restaurant">@context.RestaurantName</MudTd>
                        <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
                        <MudTd DataLabel="Amount">@context.Amount</MudTd>
                    </RowTemplate>
                </MudTable>
                <div class="text-center">
                    <br />
                    <br />
                    <button type="button" class="btn btn-primary col-3" data-bs-dismiss="modal">Close</button>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

@* View Full Transaction History  Modal *@
<div class="modal modal-lg fade modal-dialog-scrollable" id="ViewFullTransactionHistory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body Myform text-center">
                <span class="text-warning fw-bold fs-5 text-center">Food</span> <span class="fw-bold fs-5 text-center">Store</span>
                <br />
                <span class="col-12 col-md-9 text-black fs-3 text-center">Your Full Transaction History.</span>
                @* Transaction History Table*@
                <MudTable Items="@Transactions" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info" Class="text-center">
                    <HeaderContent>
                        <MudTh>Transaction ID</MudTh>
                        <MudTh>Transaction Date</MudTh>
                        <MudTh>Food Item</MudTh>
                        <MudTh>Amount</MudTh>
                        <MudTh>Restaurant</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Transaction ID">@context.TransactionId</MudTd>
                        <MudTd DataLabel="Transaction Date">@context.TransactionDate.ToString("yyyy-MM-dd HH:mm")</MudTd>
                        <MudTd DataLabel="Payment Method">@context.FoodItem</MudTd>
                        <MudTd DataLabel="Amount">@context.Amount.ToString("C")</MudTd>
                        <MudTd DataLabel="Restaurant">@context.RestaurantName</MudTd>
                    </RowTemplate>
                </MudTable>
                <div class="text-center">
                    <br />
                    <br />
                    <button type="button" class="btn btn-primary col-3" data-bs-dismiss="modal">Close</button>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    public string? Name { get; set; } = "Saviska";
    public string? EmailAddress { get; set; } = "Saviska@ASNIT.LK";
    public string? PhoneNumber { get; set; } = "0755658770";
    public string? Address { get; set; } = "No.12, Kandy Road, Kandy";

    public Int128? CardNumber { get; set; } = 1111222233334444;
    public string? CardHolderName { get; set; } = "Saviska Jayawickrama";
    public int? ExpirationMonth { get; set; } = 05;
    public int? ExpirationYear { get; set; } = 2028;
    public int? CVV { get; set; } = 234;



}



@code {
    private List<TransactionHistory> Transactions = new List<TransactionHistory>
    {
    new TransactionHistory { TransactionId = 1, TransactionDate = DateTime.Parse("2023-11-01"), FoodItem = "Burger", Amount = 8.99m, PaymentMethod = "Online Card Payment", RestaurantName = "Burger King" },
    new TransactionHistory { TransactionId = 2, TransactionDate = DateTime.Parse("2023-11-02"), FoodItem = "Pizza", Amount = 12.99m, PaymentMethod = "Cash On Delivery", RestaurantName = "Domino's" },
    new TransactionHistory { TransactionId = 3, TransactionDate = DateTime.Parse("2023-11-03"), FoodItem = "Pasta", Amount = 9.49m, PaymentMethod = "Online Card Payment", RestaurantName = "Olive Garden" },
    new TransactionHistory { TransactionId = 4, TransactionDate = DateTime.Parse("2023-11-04"), FoodItem = "Sushi", Amount = 15.99m, PaymentMethod = "Cash On Delivery", RestaurantName = "Sushi Express" },
    new TransactionHistory { TransactionId = 5, TransactionDate = DateTime.Parse("2023-11-05"), FoodItem = "Salad", Amount = 7.99m, PaymentMethod = "Online Card Payment", RestaurantName = "Fresh Greens" },
    new TransactionHistory { TransactionId = 6, TransactionDate = DateTime.Parse("2023-11-06"), FoodItem = "Tacos", Amount = 10.99m, PaymentMethod = "Cash On Delivery", RestaurantName = "Taco Bell" },
    new TransactionHistory { TransactionId = 7, TransactionDate = DateTime.Parse("2023-11-07"), FoodItem = "Fried Chicken", Amount = 11.99m, PaymentMethod = "Online Card Payment", RestaurantName = "KFC" },
    new TransactionHistory { TransactionId = 8, TransactionDate = DateTime.Parse("2023-11-08"), FoodItem = "Sub Sandwich", Amount = 6.99m, PaymentMethod = "Cash On Delivery", RestaurantName = "Subway" },
    new TransactionHistory { TransactionId = 9, TransactionDate = DateTime.Parse("2023-11-09"), FoodItem = "Donuts", Amount = 5.99m, PaymentMethod = "Online Card Payment", RestaurantName = "Dunkin'" },
    new TransactionHistory { TransactionId = 10, TransactionDate = DateTime.Parse("2023-11-10"), FoodItem = "Burrito", Amount = 9.49m, PaymentMethod = "Cash On Delivery", RestaurantName = "Chipotle" },
    new TransactionHistory { TransactionId = 11, TransactionDate = DateTime.Parse("2023-11-11"), FoodItem = "Ice Cream", Amount = 4.49m, PaymentMethod = "Online Card Payment", RestaurantName = "Baskin Robbins" },
    new TransactionHistory { TransactionId = 12, TransactionDate = DateTime.Parse("2023-11-12"), FoodItem = "Steak", Amount = 19.99m, PaymentMethod = "Cash On Delivery", RestaurantName = "Outback Steakhouse" },
    new TransactionHistory { TransactionId = 13, TransactionDate = DateTime.Parse("2023-11-13"), FoodItem = "Wings", Amount = 8.49m, PaymentMethod = "Online Card Payment", RestaurantName = "Wingstop" },
    new TransactionHistory { TransactionId = 14, TransactionDate = DateTime.Parse("2023-11-14"), FoodItem = "Smoothie", Amount = 5.99m, PaymentMethod = "Cash On Delivery", RestaurantName = "Jamba Juice" },
    new TransactionHistory { TransactionId = 15, TransactionDate = DateTime.Parse("2023-11-15"), FoodItem = "Pancakes", Amount = 7.99m, PaymentMethod = "Online Card Payment", RestaurantName = "IHOP" },
    new TransactionHistory { TransactionId = 16, TransactionDate = DateTime.Parse("2023-11-16"), FoodItem = "BBQ Ribs", Amount = 14.99m, PaymentMethod = "Cash On Delivery", RestaurantName = "Texas Roadhouse" },
    new TransactionHistory { TransactionId = 17, TransactionDate = DateTime.Parse("2023-11-17"), FoodItem = "Spaghetti", Amount = 10.49m, PaymentMethod = "Online Card Payment", RestaurantName = "Italiano's" },
    new TransactionHistory { TransactionId = 18, TransactionDate = DateTime.Parse("2023-11-18"), FoodItem = "Hot Dog", Amount = 3.99m, PaymentMethod = "Cash On Delivery", RestaurantName = "Nathan's" },
    new TransactionHistory { TransactionId = 19, TransactionDate = DateTime.Parse("2023-11-19"), FoodItem = "Fish & Chips", Amount = 12.49m, PaymentMethod = "Online Card Payment", RestaurantName = "Seafood Shack" },
    new TransactionHistory { TransactionId = 20, TransactionDate = DateTime.Parse("2023-11-20"), FoodItem = "Crepes", Amount = 6.99m, PaymentMethod = "Cash On Delivery", RestaurantName = "Crepe Cafe" },
    new TransactionHistory { TransactionId = 21, TransactionDate = DateTime.Parse("2023-11-21"), FoodItem = "Dim Sum", Amount = 9.99m, PaymentMethod = "Online Card Payment", RestaurantName = "Dim Sum Delight" },
    new TransactionHistory { TransactionId = 22, TransactionDate = DateTime.Parse("2023-11-22"), FoodItem = "Kebab", Amount = 11.49m, PaymentMethod = "Cash On Delivery", RestaurantName = "Kebab King" },
    new TransactionHistory { TransactionId = 23, TransactionDate = DateTime.Parse("2023-11-23"), FoodItem = "Gyro", Amount = 8.99m, PaymentMethod = "Online Card Payment", RestaurantName = "Greek House" },
    new TransactionHistory { TransactionId = 24, TransactionDate = DateTime.Parse("2023-11-24"), FoodItem = "Pad Thai", Amount = 10.49m, PaymentMethod = "Cash On Delivery", RestaurantName = "Thai Express" },
    new TransactionHistory { TransactionId = 25, TransactionDate = DateTime.Parse("2023-11-25"), FoodItem = "Falafel", Amount = 7.49m, PaymentMethod = "Online Card Payment", RestaurantName = "Mediterranean Grill" },
    };

    private List<OrderHistory> Orders = new List<OrderHistory>
    {
    new OrderHistory { OrderId = 1, TransactionId = 1, OrderDate = DateTime.Parse("2023-11-01"), FoodItem = "Burger", RestaurantName = "Burger King", Quantity = 1, Amount = 8.99m },
    new OrderHistory { OrderId = 2, TransactionId = 2, OrderDate = DateTime.Parse("2023-11-02"), FoodItem = "Pizza", RestaurantName = "Domino's", Quantity = 1, Amount = 12.99m },
    new OrderHistory { OrderId = 3, TransactionId = 3, OrderDate = DateTime.Parse("2023-11-03"), FoodItem = "Pasta", RestaurantName = "Olive Garden", Quantity = 1, Amount = 9.49m },
    new OrderHistory { OrderId = 4, TransactionId = 4, OrderDate = DateTime.Parse("2023-11-04"), FoodItem = "Sushi", RestaurantName = "Sushi Express", Quantity = 1, Amount = 15.99m },
    new OrderHistory { OrderId = 5, TransactionId = 5, OrderDate = DateTime.Parse("2023-11-05"), FoodItem = "Salad", RestaurantName = "Fresh Greens", Quantity = 1, Amount = 7.99m },
    new OrderHistory { OrderId = 6, TransactionId = 6, OrderDate = DateTime.Parse("2023-11-06"), FoodItem = "Tacos", RestaurantName = "Taco Bell", Quantity = 2, Amount = 21.98m },
    new OrderHistory { OrderId = 7, TransactionId = 7, OrderDate = DateTime.Parse("2023-11-07"), FoodItem = "Fried Chicken", RestaurantName = "KFC", Quantity = 1, Amount = 11.99m },
    new OrderHistory { OrderId = 8, TransactionId = 8, OrderDate = DateTime.Parse("2023-11-08"), FoodItem = "Sub Sandwich", RestaurantName = "Subway", Quantity = 1, Amount = 6.99m },
    new OrderHistory { OrderId = 9, TransactionId = 9, OrderDate = DateTime.Parse("2023-11-09"), FoodItem = "Donuts", RestaurantName = "Dunkin'", Quantity = 2, Amount = 11.98m },
    new OrderHistory { OrderId = 10, TransactionId = 10, OrderDate = DateTime.Parse("2023-11-10"), FoodItem = "Burrito", RestaurantName = "Chipotle", Quantity = 1, Amount = 9.49m },
    new OrderHistory { OrderId = 11, TransactionId = 11, OrderDate = DateTime.Parse("2023-11-11"), FoodItem = "Ice Cream", RestaurantName = "Baskin Robbins", Quantity = 2, Amount = 8.98m },
    new OrderHistory { OrderId = 12, TransactionId = 12, OrderDate = DateTime.Parse("2023-11-12"), FoodItem = "Steak", RestaurantName = "Outback Steakhouse", Quantity = 1, Amount = 19.99m },
    new OrderHistory { OrderId = 13, TransactionId = 13, OrderDate = DateTime.Parse("2023-11-13"), FoodItem = "Wings", RestaurantName = "Wingstop", Quantity = 1, Amount = 8.49m },
    new OrderHistory { OrderId = 14, TransactionId = 14, OrderDate = DateTime.Parse("2023-11-14"), FoodItem = "Smoothie", RestaurantName = "Jamba Juice", Quantity = 2, Amount = 11.98m },
    new OrderHistory { OrderId = 15, TransactionId = 15, OrderDate = DateTime.Parse("2023-11-15"), FoodItem = "Pancakes", RestaurantName = "IHOP", Quantity = 1, Amount = 7.99m },
    new OrderHistory { OrderId = 16, TransactionId = 16, OrderDate = DateTime.Parse("2023-11-16"), FoodItem = "BBQ Ribs", RestaurantName = "Texas Roadhouse", Quantity = 1, Amount = 14.99m },
    new OrderHistory { OrderId = 17, TransactionId = 17, OrderDate = DateTime.Parse("2023-11-17"), FoodItem = "Spaghetti", RestaurantName = "Italiano's", Quantity = 2, Amount = 20.98m },
    new OrderHistory { OrderId = 18, TransactionId = 18, OrderDate = DateTime.Parse("2023-11-18"), FoodItem = "Hot Dog", RestaurantName = "Nathan's", Quantity = 1, Amount = 3.99m },
    new OrderHistory { OrderId = 19, TransactionId = 19, OrderDate = DateTime.Parse("2023-11-19"), FoodItem = "Fish & Chips", RestaurantName = "Seafood Shack", Quantity = 1, Amount = 12.49m },
    new OrderHistory { OrderId = 20, TransactionId = 20, OrderDate = DateTime.Parse("2023-11-20"), FoodItem = "Crepes", RestaurantName = "Crepe Cafe", Quantity = 2, Amount = 13.98m },
    new OrderHistory { OrderId = 21, TransactionId = 21, OrderDate = DateTime.Parse("2023-11-21"), FoodItem = "Dim Sum", RestaurantName = "Dim Sum Delight", Quantity = 1, Amount = 9.99m },
    new OrderHistory { OrderId = 22, TransactionId = 22, OrderDate = DateTime.Parse("2023-11-22"), FoodItem = "Kebab", RestaurantName = "Kebab King", Quantity = 2, Amount = 22.98m },
    new OrderHistory { OrderId = 23, TransactionId = 23, OrderDate = DateTime.Parse("2023-11-23"), FoodItem = "Gyro", RestaurantName = "Greek House", Quantity = 1, Amount = 8.99m },
    new OrderHistory { OrderId = 24, TransactionId = 24, OrderDate = DateTime.Parse("2023-11-24"), FoodItem = "Pad Thai", RestaurantName = "Thai Express", Quantity = 1, Amount = 10.49m },
    new OrderHistory { OrderId = 25, TransactionId = 25, OrderDate = DateTime.Parse("2023-11-25"), FoodItem = "Falafel", RestaurantName = "Mediterranean Grill", Quantity = 2, Amount = 14.98m },
    };

}